<h1>Shops#index</h1>
<!-- マップを表示する要素 -->
<div id="map" style="height: 600px;"></div>

<script>
  // 地図を初期化する関数
  function initMap() {
    // 地図のオプション
    const mapOptions = {
      center: { lat: 34.65112098708317, lng: 135.58856512184337 }, // 地図の初期表示位置（長瀬）
      zoom: 10 // ズームレベル
    };

    // 地図を指定した要素に表示
    const map = new google.maps.Map(document.getElementById('map'), mapOptions);

    // ピンを挿す（Shopの情報からピンを追加する）
    <% @shops.each do |shop| %>
      new google.maps.Marker({
        position: {lat: <%= shop["location"]["latitude"] %>, lng: <%= shop["location"]["longitude"] %>}, 
        map: map,
        title: '<%= j shop["displayName"]["text"] %>'
      });
    <% end %>
  }
</script>
<!--script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script-->

<div>
  <%= form_with url: shops_search_path, method: :get do |f| %>

    <h3>検索</h3>
    <%= f.text_field :genre %>
    <%= f.submit "検索"%>
  <% end %>

  <table>
  <th>名前</th>
  <th>評価</th>
  <% @shops.each do |shop| %>
  <tr>
      <td><%= shop["displayName"]["text"] %></td>
      <td><%= shop["rating"]%></td>
  </tr>
  <% end%>
  </table>
</div>