<h1>Shops#index</h1>
<!-- マップを表示する要素 -->
<div id="map" style="height: 600px;"></div>

<script>
  // 地図を初期化する関数
  function initMap() {
    // 地図のオプション
    const mapOptions = {
      center: { lat: 34.65112098708317, lng: 135.58856512184337 }, // 地図の初期表示位置（長瀬）
      zoom: 10 // ズームレベル
    };

    // 地図を指定した要素に表示
    const map = new google.maps.Map(document.getElementById('map'), mapOptions);

    // ピンを挿す（Shopの情報からピンを追加する）
    let count = 1;
    <% @shops.each do |shop| %>
      new google.maps.Marker({
        position: {lat: <%= shop["location"]["latitude"] %>, lng: <%= shop["location"]["longitude"] %>}, 
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // シンボル円
            scale: 15,           // サイズ
            fillColor: '#fff',   // 塗り潰し色
            fillOpacity: 0.8,    // 塗り潰し透過率
            strokeColor: "red",  // 枠線の色
            strokeWeight: 1,     // 枠線の幅
        },
        label: {
            text:  String(count), //ラベル文字
            color: 'black',     //文字の色
            fontSize: '15px',    //文字のサイズ
            fontWeight: '500'    //文字の太さ
        },
        map: map,
        title: '<%= j shop["displayName"]["text"] %>'
      });
      count++;
    <% end %>
  }
</script>
<!--script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script-->

<div>
  <%= form_with url: shops_search_path, method: :get do |f| %>

    <h3>検索</h3>
    <%= f.text_field :genre %>
    <%= f.submit "検索"%>
  <% end %>

  <table>
    <th>名前</th>
    <th>評価</th>
    <% @shops.each do |shop| %>
      <tr>
          <td><%= shop["displayName"]["text"] %></td>
          <td><%= shop["rating"]%></td>
          <td><%= link_to "詳細を見る", shops_path(lat: shop["location"]["latitude"], lon: shop["location"]["longitude"], evaluation: shop["rating"], name: shop["displayName"]["text"], address: shop["formattedAddress"]), data: { turbo_method: :post } %></td>
      </tr>
    <% end%>
  </table>
</div>