<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-warning bg-gradient mb-3"><!-- bg-dark入れるとハンバーガーメニューの背景色が黒になる -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hamburger" aria-controls="hamburger" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="fs-3 navbar-brand text-dark">グルメトレジャーマップ</a>
        <div class="collapse navbar-collapse justify-content-evenly">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <button type="button" class="btn btn-dark mx-5 px-5"><%= link_to "店舗一覧/検索", root_path, class: "link-warning" %></button>
              <button type="button" class="btn btn-dark mx-5 px-5"><%= link_to "ルート検索", shops_patrol_path,  class: "link-warning"%></button>
              <button type="button" class="btn btn-dark mx-5 px-5"><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete },  class: "link-warning" %></button>
            <% else %>
              <button type="button" class="btn btn-dark mx-5 px-5"><%= link_to "新規登録", new_user_registration_path, class: "link-warning" %></button>
              <button type="button" class="btn btn-dark mx-5 px-5"><%= link_to "店舗一覧/検索", root_path, class: "link-warning" %></button>
              <button type="button" class="btn btn-dark mx-5 px-5"><%= link_to "ログイン", new_user_session_path, class: "link-warning" %></button>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
